# Virtual Environments
venv/
.env
.venv/
env/
__pycache__/
*.py[cod]

# Data and Models
*.pth
*.pt
wildfire-prediction-dataset/

# Jupyter
.ipynb_checkpoints/

# VS Code / IDEs
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Ignorados do Relatorio Final
Relatorio_Governanca_Final.html

# Node Modules
node_modules/
